html,body,canvas,div,img,p,input,table,th,td
{
    margin: 0;
    padding: 0;    
}
img{
    display: block;
}
div{
    box-sizing: border-box;
}

html,body{ 
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select:none;

    -webkit-tap-highlight-color:transparent;
    
    background-color: #000000;
}
/*container*/
.container
{
    display: none;
    position: absolute;
    width: 960px;
    height: 540px;   
    z-index: 789;   
    background-color: rgba(0, 0, 0, 0.7);
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%) ;
    -ms-transform: translate(-50%,-50%) ;
    -o-transform: translate(-50%,-50%) ;
    transform: translate(-50%,-50%) ;
}
.container__btnclose,.scoreboard__btnclose
{
    position: absolute;
    width: 50px;
    line-height: 50px;
    right: 10px;
    top: 10px;
    text-align: center;
    background-color: #a22a39;
    color: #ffffff;
    cursor: pointer;  
}
/*gameover*/
.msg__overtenth,.msg__addplayer,.msg__lesstenth,.addplayer__inputbg
{
    position: absolute;
    left: 0;
    top: 0;
}
.msg__lesstenth
{
    display: none;    
}
/*分数*/
.gameover__score
{
    position: absolute;
    left: 443px;
    top: 300px;
    font-size: 36px;
    color: #fed202;   
}
.gameover__score_lesstenth
{
    top: 225px;
}
/*添加新player*/
.gameover__addplayer
{
    display: none;
}
.addplayer__input-name,.addplayer__input-email
{
    width: 307px;
    height: 58px;
    border-width: 0;/*去掉默认样式*/
    outline: none;
    text-decoration: none;
    color: #742c00;
    font-size: 18px;
    background-color:transparent;
    padding-left: 30px;
}
.addplayer__input-name
{
    position: absolute;
    left: 104px;
    top: 367px;    
}
.addplayer__input-email
{
    position: absolute;
    left: 444px;
    top: 367px;    
}
.addplayer__btnSkip
{
    position: absolute;
    left: 108px;
    top: 458px;
}
.addplayer__btnSubmit
{
    position: absolute;
    left: 575px;
    top: 446px;
}
/*其余按钮*/
.gameover__btns
{
    position: absolute;
    left: 0;
    top: 374px;
}
.gameover__btns_lesstenth
{
    top: 386px;
}
.gameover__btnHome 
{
    position: absolute;
    left: 175px;
    top: 7px;
    cursor: pointer;      
}
.gameover__btnReplay
{
    position: absolute;
    left: 340px;
    top: 0;
    cursor: pointer;
}
.gameover__btnViewTop
{
    position: absolute;
    left: 554px;
    top: 6px;
    cursor: pointer;
}
/*分享*/
#share
{
    position: absolute;
    right: 0;
    top: 0;
}
#share img
{
    cursor: pointer;
}
/*top10榜单*/
.scoreboard
{
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;    
    left: 0;
    top: 0;
    background-color: #7d1024;
}
.scoreboard__title
{
    position: absolute;
    left: 0;
    top: 0;
}
.scoreboard__btnBack
{
    position: absolute;
    left: 679px;
    top: 154px;
}
.scoreboard__btnReplay
{
    position: absolute;
    left: 655px;
    top: 233px;
}
.scoreboard__btnHome
{
    position: absolute;
    left: 679px;
    top: 328px;
}
/*表格*/
.table__wrapper
{
    position: absolute;
    width: 512px;
    height: 413px;
    overflow-y: scroll;
    left: 40px;
    top: 105px;    
}
table{
    position: absolute;
    width: 512px;
    height: 826px;
    left: 0;
    top: 0;    
    border-collapse: collapse;            
}
table,th,td
{
    /*border: 1px solid #dddddd;*/
}
th,td
{
    text-align: left;
    font-size: 24px;
    font-weight: bold;
    color: #742c00;
}
td:nth-child(3n+1) {
    text-align: center;
    width: 96px;
}
td:nth-child(3n+2) {
    width: 300px;
}
/*横竖屏切换提示信息*/
.msg__landscape
{   
    position: absolute;    
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 7890;
    background-color: #ffffff;
    display: none;  
}
.msg__landscape>p
{
    position: absolute;
    width: 100%;
    text-align: center;    
}
/*公用*/
.btn
{
    width: 100px;
    line-height: 30px;
    text-align: center;
    background-color: #789789;
    color: #ffffff;
    margin:10px;    
}
.v_center
{
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}
.center
{
    -webkit-transform: translate(-50%,-50%) ;
    -moz-transform: translate(-50%,-50%) ;
    -ms-transform: translate(-50%,-50%) ;
    -o-transform: translate(-50%,-50%) ;
    transform: translate(-50%,-50%) ;
}

