html,body,canvas
{
    margin: 0;
    padding: 0;    
}

html,body{ 
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select:none;

    -webkit-tap-highlight-color:transparent;
    
    background-color: #000000;
}
/*container*/
.container
{
    display: none;
    position: absolute;
    width: 960px;
    height: 540px;   
    z-index: 789;   
    background-color: rgba(0, 0, 0, 0.5);
}
.container__btnclose,.gameover__btnclose
{
    position: absolute;
    width: 50px;
    line-height: 50px;
    right: 10px;
    top: 10px;
    text-align: center;
    background-color: #a22a39;
    color: #ffffff;
    cursor: pointer;  
}
/*gameover*/
.gemeover__btn
{
    width: 100px;
    line-height: 30px;
    text-align: center;
    background-color: #789789;
    color: #ffffff;
    margin:10px;    
}
.gameover__form
{
    display: none;
}
/*分享*/

.share__btn
{
    float: left;
    width: 92px;
    height: 92px;
    border-radius: 50%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;             
}

.share__btnX
{
    background-image: url('../assets/images/overgame/share_btnX.png');
}

.share__btnW
{
    background-image: url('../assets/images/overgame/share_btnW.png');
}

.share__btnT
{
    background-image: url('../assets/images/overgame/share_btnT.png');
}

.share__btnF
{
    background-image: url('../assets/images/overgame/share_btnF.png');
}
/*top10榜单*/
.scoreboard
{
    display: none;
}
table{
    position: absolute;
    width: 80%;
    left: 10%;    
    border-collapse: collapse;            
}
table,th,td
{
    border: 1px solid #dddddd;
}
tr:nth-child(even)
{
    background-color: #f2f2f2
}
th,td
{
    padding: 10px;
    text-align: left;
}
th
{    
    background-color: #a22a39;
    color: #ffffff;
}
td
{
    color: #000000;
}

/*横竖屏切换提示信息*/
.msg__landscape
{   
    position: absolute;    
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 7890;
    background-color: #ffffff;
    display: none;  
}
.msg__landscape>p
{
    position: absolute;
    width: 100%;
    text-align: center;    
}
/*公用*/
.v_center
{
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}
.center
{
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%); 
}

